SERVER_PORT=8080
GIN_MODE=debug

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=dbname
DB_SSLMODE=disable

JWT_SECRET=jwt_secret
JWT_EXPIRES_IN=24h
REFRESH_TOKEN_EXPIRES_IN=72h

LOCALSTACK_AUTH_TOKEN=toekn
DEBUG=0
PERSISTENCE=0

UPLOAD_PATH=./uploads
MAX_UPLOAD_SIZE=10485760 # 100MB